.container {
    padding: 10px;
    margin: 0;
    width: 10%;
    opacity: 1;
    color: black;
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    position: absolute;
    z-index: 10;
    box-shadow: 1px 1px 5px black;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex: 1;

}

.delete {
    background-color: lightcoral;
    border-radius: 10px;
    cursor: pointer;
}
.edit {
    background-color: rgba(0,0,0,0);
    border-width: 0;
    cursor: pointer;
}

.confirm {
    background-color: rgba(0,0,0,0);
    border-width: 0;
    cursor: pointer;
    font-size: 1rem;
}

.pin {
    width: 10%;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 5px black;
}